.card {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(#fff, #000);
    color: aliceblue;
}

.card:hover {
    box-shadow: 0px 0px 10px #0f0f0f;
}

.card-img {
    background: #000;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
}