.HeaderBar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    color:aliceblue;
    padding: 10px;
}

.header-text {
    padding: 5px;
}

.title {
    padding-bottom: 5px;
}